<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
no content yet
<%# <% 100.times do +| %>
  <%# <p>aaa</p> %>
<%# <% end +| %>
<%# <% if @petitions.size != 0 +| %>
<%# <ul> %>
  <%# <% for petition in @petitions +| %>
    <%# <%= petition.receiver.email +|请求加你为好友 %>
    <%# <%= button_to +| %>
    <%# <%= button_to +| %>
  <%# <% end +| %>
<%# </ul> %>
<%# <% end +| %>
